:root{
/* Colors */

/* Primary */
    --primaryDarkCyan:hsl(158, 36%, 37%);
    --primaryCream:hsl(30, 38%, 92%);

/* Neutral */
    --neutralVeryDarkBlue:hsl(212, 21%, 14%);
    --neutralDarkGrayishBlue:hsl(228, 12%, 48%);
    --White:hsl(0, 0%, 100%);

/* Fonts */
    --font1:'Montserrat', sans-serif;
    --font2:'Fraunces', serif;

}

/* Globals */
html{
    box-sizing: border-box;
    font-size:  62.5%;
    height: 100%;
    
}

*, *:before, *:after{
    box-sizing: inherit;

}


body{
    height: 100vh;
    background-color: var(--primaryCream);
}



/* Container */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card__img{
    width: 100%;
    height: 20rem;
    display: none;
    
}


.card__img_m img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card{
    width: 40rem;
    height: 70rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--White);
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.card__elements{
    height: 100%;
    margin: 0;
    padding: 2rem;
}


.card__elements--product{
    font-size: 1.2rem;
    font-family: var(--font1);
    text-transform: uppercase;
    color: var(--neutralDarkGrayishBlue);
    letter-spacing: 0.5rem;
    font-weight: 00;
    margin-top: 1rem;
}


.card__elements--title{
    color: var(--neutralVeryDarkBlue);
    font-size: 3.3rem;
    font-family: var(--font2);
    font-weight: 700;
    margin: 1rem 0 0 0;
    line-height: 1;

}


.card__elements--info{
    font-size: 1.8rem;
    color: var(--neutralDarkGrayishBlue);
    font-family: var(--font1);
    font-weight: 500;
    line-height: 1.7;
    margin: 2rem 0 0 0;
}

.card__elements--prices{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.card__elements--discount{
    
    color: var(--primaryDarkCyan);
    font-size: 3rem;
    font-family: var(--font2);
    margin: 0;
}

.card__elements--before{
    
    
    color: var(--neutralDarkGrayishBlue);
    font-family: var(--font1);
    font-size: 1.5rem;
    font-family: 500;
    text-decoration: line-through;
    margin-left: 2rem;
    
    
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryDarkCyan);    
    padding: 1.5rem;
    border-radius: .7rem;
    border: none;    
    margin-top: 2rem;

    
}


.btn a{
    color: var(--White);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font1);
    font-weight: 700;
    margin-left: 1rem;
}

.btn:hover{
    background-color: #1a4031;
    cursor: pointer;
}

@media (min-width: 768px) {
    
    
/* Card */

.card{
    
    background-color: var(--White);
    width: 60rem;
    height: 45rem;
    
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Card Img */

.card__img{
    display: contents ;
    height: 100%;
    
}

.card__img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    
}

.card__img_m {
    display: none;
}


/* Card Elements */


.card__elements{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    
}

.card__elements--product{
    margin-top: 3rem;
}

.card__elements--before{
        
    font-size: 1.1rem;     
}

.card__elements--info{
    font-size: 1.5rem;
    
}
.card__elements--prices{
   
    margin-top: 2.5rem;
}
}


