:root{
/* Colors */

/* Primary */
    --primaryDarkCyan:hsl(158, 36%, 37%);
    --primaryCream:hsl(30, 38%, 92%);

/* Neutral */
    --neutralVeryDarkBlue:hsl(212, 21%, 14%);
    --neutralDarkGrayishBlue:hsl(228, 12%, 48%);
    --White:hsl(0, 0%, 100%);

/* Fonts */
    --font1:'Montserrat', sans-serif;
    --font2:'Fraunces', serif;

}

/* Globals */
html{
    box-sizing: border-box;
    font-size:  62.5%;
    height: 100%;
    
}

*, *:before, *:after{
    box-sizing: inherit;

}


body{
    height: 100vh;
    background-color: var(--primaryCream);
}



/* Container */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* Card */

.card{
    
    background-color: var(--White);
    width: 60rem;
    height: 45rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Card Img */
.card__img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}



/* Card Elements */


.card__elements{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.card__elements--product{
    font-size: 1.3rem;
    font-family: var(--font1);
    text-transform: uppercase;
    color: var(--neutralDarkGrayishBlue);
    letter-spacing: 0.5rem;
    font-weight: 00;
    margin-top: 3rem;
}


.card__elements--title{
    color: var(--neutralVeryDarkBlue);
    font-size: 3rem;
    font-family: var(--font2);
    font-weight: 700;
    margin: 1.5rem 0 0 0;

}


.card__elements--info{
    font-size: 1.5rem;
    color: var(--neutralDarkGrayishBlue);
    font-family: var(--font1);
    font-weight: 500;
    line-height: 1.5;
}

.card__elements--prices{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.card__elements--discount{
    
    color: var(--primaryDarkCyan);
    font-size: 3rem;
    font-family: var(--font2);
    margin: 0;
}

.card__elements--before{
    
    
    color: var(--neutralDarkGrayishBlue);
    font-family: var(--font1);
    font-size: 1.5rem;
    font-family: 500;
    text-decoration: line-through;
    margin-left: 2rem;
    
    
}


.btn{
    background-color: var(--primaryDarkCyan);
    color: var(--White);
    padding: 1.5rem;
    border-radius: .7rem;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font1);
    font-weight: 700;
    margin-top: 2rem;
}